@import './reset.css';

/* 不显示scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
  background-color: #060e12;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.activity-name {
  position: absolute;
  top: 80px;
  width: 100%;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  z-index: 3000;
}
